@charset "UTF-8";
/*body 기본 세팅*/
#mainWrapper {
margin-left: auto;
margin-right: auto;
display: table;
}
#outer {
	margin-left: 265px;
	margin-right: 35px;
	height: 100vh;
	position: relative;
}
#background-box {
	position: relative;
	width: 1092px;
	height: 700px;
	top: 15px;
	background: white;
	border-radius: 12px;
	margin-left: auto;
	margin-right: auto;
}
/*본문영역 상단부*/
#titleArea{
	position: relative;
	height: 20%;

}
/*본문 영역 제목*/
#mainTitle{
position: absolute;
width: 250px;
height: 100px;
left: 30px;
font-family: NanumSquare_ac;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 53px;
display: flex;
align-items: center;
color: #232323;	
}

/*본문 영역 제목 밑에있는 선*/
#line1{
position: absolute;
width: 170px;
height: 0px;
left: 30px;
top: 80px;
border: 1px solid #666666;
}

/*본문 영역 소제목*/
#subTitle{
position: absolute;
width: 250px;
height: 50px;
left: 30px;
top: 78px;
font-family: NanumSquare_ac;
font-style: normal;
font-size: 25px;
line-height: 40px;
display: flex;
align-items: center;
color: #343434;
}

/*조회 제목 스타일*/
#subSubTitle1{
position: absolute;
width: 75px;
height: 30px;
left: 40px;
top: 150px;
font-family: NanumSquare_ac;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 20px;
display: flex;
align-items: center;
color: #000000;
}

/*조회 상자 테두리*/
#searchBox{
position: absolute;
width: 980px;
height: 93px;
left: 40px;
top: 190px;
background: #FFFFFF;
border: 1px solid rgba(75, 75, 75, 0.23);
box-sizing: border-box;
border-radius: 33.5px;
}

/*폼 기본 서식*/
#searchForm{
height:100%;
margin-left:auto;
margin-right:auto;
margin-top:5px;
padding-left:20px;
}


/*테이블 기본 서식*/
table{
margin-top: 5px;
width: 950px;
margin-left:10px;
}

/*td 글자 스타일 지정*/
td{
height: 30px;
font-family: NanumSquare_ac;
font-style: normal;
font-weight: normal;
font-size: 15px;
color: #000000;
padding-top:5px;
padding-left:0;	
}



/*검색 내용 타이핑하는 부분, input 태그*/
.searchTextBox{
border:0;
outline:0;
height: 20px;
padding:0;
margin:0;
background: #F6F1F1;
}

/*노란 버튼 공통 스타일*/
.btn{
border:0;
outline:0;
width: 92px;
height: 32px;
background: #F0BB00;
display:inline-block;
font-family: NanumSquare_ac;
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 19px;
text-align: center;
color: #FFFFFF;
}

/*조회 결과 리스트 제목 스타일*/
#subSubTitle2{
position: absolute;
width: 90px;
height: 30px;
left: 40px;
top: 300px;
font-family: NanumSquare_ac;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 20px;
display: flex;
align-items: center;
color: #000000;
}

/*적용 버튼*/
#apply{
position:absolute;	
top:300px;
right:90px;
}

#listTable{
border-collapse:collapse;
position: absolute;
top:350px;
left:45px;
text-align:center;
}


/*조회 리스트 테이블 listHead*/
#listHead{
width: 1400px;
height: 31px;
padding-left:20px;
background: #FBFAFA;
box-sizing:border-box;
border-radius: 300px 0 0 300px;
}

/*조회 리스트 부분 테이블 헤더 폰트 스타일*/
th{
padding:4px;
font-size:15px;
line-height:17px;
}

/* 리스트 바디 하위 td 테이블 선 스타일*/
.listBody>td{
border-bottom:3px solid #EBEAEA;
height: 25px;
}

